.buttonNav {
    width: 231px;
    height: 66px;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #212121;
    box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
    border-radius: 11px;
    cursor: pointer;
}