.btnPaginate {
    width: 150px;
    height: 40px;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f0f0f0;
    background-color: #3558cc;
    border-radius: 11px;
    box-shadow: 0 0 10px #7a7a7a;
    cursor: pointer;
}