.btnWookiee {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    cursor: pointer;
    background: #F28F16;
    display: flex;
    justify-content: center;
    align-items: center;
}